// MASTER CONFIGURATION

// BODY BASE COLOUR

body {
  background-color: #101118;
}

html, body {
  height: 100%;
}

/*
	IMAGE DEFAULTS
*/
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*
      CLASS USED FOR LAZYLOADING IAMGES, COMBINED WITH DATA-SRC
  */
  .lazyload {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

// ==========================================================================
// BASE CONTAINER CLASS
// ==========================================================================

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 90%;
  }
  
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  
  .bg-currentColor {
    background-color: currentColor;
  }


/* BUTTONS */

@mixin btn {
  position: relative;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  border-radius: 5px;
  justify-content: center;
}

.btn {
  @include btn;
}

.btn--primary{
  color: white;
  background-color: rgba(53, 58, 80, 1);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba(53, 58, 80, 0.5);
  }
}

.btn--secondary{
  color: white;
  background-color:rgba(58, 204, 225, 1);
  transition: background-color 0.3s ease;
  &:hover {
    background-color:rgba(58, 204, 225, 0.5);
  }
}
