// CONFIGURATION

// APP COLOURS

.text-primary{
    color: #353A50;
}

.bg-primary{
    color: #353A50;
}

.btn{
    padding: 3px 30px;
    color: white;
    border-radius: 5px;
}

.btn--primary{
    background-color: #353A50;
}

.btn--secondary{
    background-color: #3ACCE1;
}
