.responsive-map{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }


  @media only screen and (max-width: 640px) {
    div.leaflet-control-zoom {
      display: none !important;
    }
  }

  .center-btn {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }

  .arthurs-house__container {
    display: none;
    @media only screen and (min-width: 1024px) {
      display: contents;
    }
  }

  .arthurs-house__slider {
    position: absolute;
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    scroll-snap-type: x mandatory;  
    -webkit-overflow-scrolling: touch;
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .arthurs-house-modal__container {
    height: 80vh;
    width: 100%;
    z-index: 30;
    border-radius: 2%;
    margin-top: 1.6rem;
    flex-shrink: 0;
    position: relative;
    margin-right: 20px;
    scroll-snap-align: start;
  }