.responsive-map{
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background: none !important;
    overflow: hidden;
    height: 100vh;
  }


  @media only screen and (max-width: 640px) {
    div.leaflet-bottom.leaflet-right {
      display: none !important;
    }
  }
