//Main Navigation strip

.toolbar {
    position: fixed;
    top: 0;
    width:100%;
    background: #2A2E43;
    height: auto;
    z-index: 1000;
}

.toolbar_nav {
    display: flex;
    height: 100%;
    align-items: center;
    width: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    @media only screen and (min-width: 1024px)  {
    justify-content: space-between;
    }
}

.toolbar_logo {
    margin-left: 1rem;
    li {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        list-style-type: none;
    }
}

.toolbar_nav-items {
    display: none;

    @media only screen and (min-width: 1024px)  {
        display: block;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        li {
            padding: 0 1rem;
            justify-content: center;
            border-radius: 10px;
        }
        a {
            color: white;
            text-decoration: none;
            background-color: transparent;
            transition: background-color 0.3s ease;
            border-radius: 5px;
            padding: 3px 10px;
            position: relative;
            display: inline-flex;
            align-items: center;
            text-align: center;
            &:hover {
                background-color:rgba(58, 204, 225, 0.5);
            }
        }
    }
}


@media only screen and (min-width: 1024px)  {

    .nav-drawer-button{
        display: none;
    }

}