//Main Navigation strip

.toolbar {
    position: fixed;
    top: 0;
    width:100%;
    background: #2A2E43;
    height: auto;
    z-index: 1000;
}

.toolbar_nav {
    display: flex;
    height: 100%;
    align-items: center;
    width: 90%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    @media only screen and (min-width: 640px)  {
    justify-content: flex-end;
    }
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_logo li {
     color: white;
     text-decoration: none;
     font-size: 1.5rem;
     list-style-type: none;
}

.toolbar_nav-items {
    display: none;
}


@media only screen and (min-width: 640px)  {

    .nav-drawer-button{
        display: none;
    }

    .toolbar_nav-items {
        display: block;
    }


    .toolbar_nav-items ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .toolbar_nav-items li {
        padding: 0 1rem;
        // height: 35px;
        // min-width: 135px;
        justify-content: center;
        border-radius: 10px;
    }
    
    .toolbar_nav-items a {
        color: white;
        text-decoration: none;
    }
    
    .toolbar_nav-items li:hover,
    .toolbar_nav-items li:active{
        background: #3497FD;
    }

}