// SideDrawer
.side-drawer {
    height: 100vh;
    background: #2a2e43;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 1000;
    transform: translateX(-110%);
    transition: transform 0.3s ease-out;
    display: block;
    @media only screen and (min-width: 640px) {
        display: none;
    }
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 1rem;
        margin-top: 35%;
    }

    .Nav_icons {
        width: auto;
        height: 30px;
        margin-left: 1rem;
        margin-right: 1rem;
        align-self: center;
        color: white;
    }

    div {
        display: flex;
        flex-direction: row;
    }

    .logo {
        width: auto;
        height: 6rem;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 0;
    }

    button {
        position: absolute;
        display: flex;
        right: 0;
    }

    li {
        margin: 1.5rem 0rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        height: 2.5rem;
        color: white;
        width: 100%;
    }

    .current {
        svg {
            color: black;
        }
        li {
            color: black;
            background-color: #3497fd;
        }
    }
}
